In [25]:
import pandas as pd
import torch

#### To be optimized later with generator function

In [26]:
def getCleanDataFrame(df):
    df = df[[0, 5]]
    df[0] = df[0].map({0:'-1', 4:'1'})
    df.rename(columns = {0:'sentiment', 5:'tweet'}, inplace = True)
    return df

In [27]:
tweets_df = pd.read_csv("data/tweets.csv", encoding = "ISO-8859-1", header=None)
tweets_df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [28]:
print('Total number of tweets: ',tweets_df.shape[0])

tweets_df = getCleanDataFrame(tweets_df)
tweets_df.head()

Total number of tweets:  1600000

<ipython-input-26-bd5b8042dbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0] = df[0].map({0:'-1', 4:'1'})
/Users/srana/PythonProjects/Sentiment-Classification/jupyter/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

  sentiment                                              tweet
0        -1  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        -1  is upset that he can't update his Facebook by ...
2        -1  @Kenichan I dived many times for the ball. Man...
3        -1    my whole body feels itchy and like its on fire
4        -1  @nationwideclass no, it's not behaving at all....

In [12]:

tweets_df.head()

    0                                                  5
0  -1  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  -1  is upset that he can't update his Facebook by ...
2  -1  @Kenichan I dived many times for the ball. Man...
3  -1    my whole body feels itchy and like its on fire
4  -1  @nationwideclass no, it's not behaving at all....